<!DOCTYPE html>
<html>
<head>
    <title>3.1.3 Presentación Personal CV</title>
    <link rel = "stylesheet" href = "style.css">
    <style>H1{font-size: 30px; text-align: center;} H2{font-size: 20px; margin-left: 15ch;} h3{font-size: 20; margin-left: 20ch;} p{font-size: 15px; margin-left: 30ch; margin-right: 40ch;} table{margin-left: 225px;}</style>
</head>

<body>
    <H1>Emma Fernanda Gómez Guerra</H1>
    <p style="color: black"> Cell: <span class="tel"></span>+52 8127249280</span><br />
        Email Contact: <a class="email" href="mailto:a00827097@itesm.mx">a00827097@itesm.mx</a>
    </p>
    <br>

    <H2>ACADEMIC BACKGROUND</H2>
    <hr> <!--crea una linea-->
    <p style="color: black"><strong>Primary: </strong>Liceo de Monterrey - Girl's Campus</p>
    <p style="color: black"> (August, 2007 - June, 2016)</p>
    <p style="color: black"><strong>Secondary:</strong> Liceo de Monterrey (High School) - Girl's Campus</p>
    <p style="color: black"> (August, 2016 - June, 2019)</p>
    <p style="color: black"><strong>Tertiary:</strong> Tecnológico de Monterrey University (Monterrey Campus)</p>
    <p style="color: black">(August, 2019 - June, 2023)  Computer Science and Engineering</p>

    <table border = 1;>
        <tr> <!--es para renglones-->
            <!--a href para hyperlink y mandar a una pagina existente-->
            <td><strong>Spanish: </strong>Complete fluency (Native speaker)</td>
            <td><strong>English: </strong>C1 (10+ years)</td>
            <td><strong>French: </strong> A1 (9 years)</td>
            <td><strong>Italian: </strong> A2 (3 years)</td>
        </tr>
    </table>
    <br>
    <br>

    <H2>CAREER OBJECTIVE</H2>
    <hr> <!--crea una linea-->
    <p style="color: black">To have the opportunity to apply for different positions related to my field of expertise and career specialization, to continue and give growth to my career and challenge my professional experience.</p>
    <br>

    <H2>RESEARCH INTERESTS AND COMPUTER SKILLS</H2>
    <hr> <!--crea una linea-->
    <p style="color: black">I have worked and practiced on several computer programming languages for different projects in school.</p>
    <p style="color: black"><strong>Data analysis, Software Architecture, Algorithm Design, Hardware & Scripting: </strong> C, C++, Python, Arduino, Excel, Java, HTML, DrRacket, Unity.</p>
    <p style="color: black"><strong>Tools & Packages: </strong>MATLAB, MySQL, R.</p>
    <p style="color: black"><strong>Platforms: </strong>Windows, Mac.</p>

    <table border = 1;>
        <tr> <!--es para renglones-->
            <!--a href para hyperlink y mandar a una pagina existente-->
            <td><strong>Python: </strong>1 year</td>
            <td><strong>C++: </strong>2 years</td>
            <td><strong>Arduino: </strong>2 years</td>
            <td><strong>Excel: </strong>7 years</td>
            <td><strong>MATLAB: </strong>1 year</td>
            <td><strong>MySQL: </strong>0.5 year</td>
        </tr>
    </table>
    <br>
    <br>

    <H2>SCHOOL PROJECTS</H2>
    <hr> <!--crea una linea-->
    <p style="color: black"><strong>Grün: </strong> Internet of Things Implementation (Software and Hardware) project which consisted primarily of creating an App that gave the user the accesibility of maintaining their home in an eco-friendly way.</p>
    <p style="color: black">This IoT project's objetive was to achieve sustainable habits at home. The project consists of several systems that will save water, energy, gas, as well as the management and awareness of waste generation.</p>
    <p style="color: black"><strong>Movie & Series Ratings: </strong>Object-oriented programming project which consisted of using objects to create a system of rating movies and series similar to Netflix.</p>
    <p style="color: black">...</p>
    <br>

    <H2>PERSONAL PROJECTS</H2>
    <hr> <!--crea una linea-->
    <p style="color: black"><strong>WIT: </strong>Solidarity project which is a program composed of different workshops and courses related to computer science and programming, with it's focus on empowering young women to feel capable of developing technical skills with an entrepreneurial approach to create solutions to problems in a community (Ciudad de los Niños) through technology.</p>
    <br>

</body>


</html>
