<!DOCTYPE html>
<html>
    <head>
        <style> 
        body {
            background-color: #f8b195;
        }
        h1 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 3rem;
            color:  #c06c84;
            background-color: #6c5b7b;
            text-align: center;
        }

        .boring {
            color:#000000;
            font-style: italic;
        }

        .fields {
            color: #000000;
            background-color:#f67380;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
            font-style: italic;
            font-weight: bold;
            text-align: center;
        }

        p {
            color:#000000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
    
        }

        td {
            padding: 0 15px;
        }

        div {
            font-weight: bold;
            font-style: italic;
        }
        </style>

        <title> Jessica's Resume </title>
    </head>

    <body>
        <H1> Jessica Marcela Treviño Caballero </H1>
        <H2 class = "fields"> Education </H2>
        <p> B.S. in Computer Science (4th Semester) at ITESM Monterrey Campus </p>
        <p> Graduation date: June 2023 (expected)</p>
        <p> GPA: 91/100</p>
        <H3 class = "fields"> Technical Skills </H3>
        <p class = "boring"> Software Development</p>
        <table border = 1> 
            <tr>
                <td><p> C++ (18 months) </p></td>
                <td><p> Matlab (12 months) </p></td>
                <td><p> Arduino (3 months) </p></td>
                <td><p> Python (2 months) </p></td>
                <td><p> HTML (1 week) </p></td>
                <td><p> CSS (1 week) </p></td>
                
            </tr>
        </table>
        <H4 class = "fields"> Class Projects </H4>
        <p> 
            <div>
                Data Structures and Algorithms Course:
            </div> 
            developed a series of small projects using different data structures and searching/sorting algorithms in C++. 
            In this course we implemented our own data structures, so I was able to understand on a deeper level how
            Doubly Linked Lists, Binary Search Trees, among other data structures, work.
        </p>
        <p> 
            <div>
                Object Oriented Programming Course:
            </div> 
            developed a streaming platfrom simulator, a Snakes and Ladders game, and other small projects in C++.
        </p>
        <p> 
            <div>
                Computational Modeling of Electrical Systems Course:
            </div> 
            developed with fellow classmates a model for the behaviour of an electric dipole under certain conditions set by 
            the user using MATLAB and MATLAB's App Designer.
        </p>
        <p> 
            <div>
                Object Oriented Computational Thinking Course:
            </div>
            developed a basic flight scheduling system for an airport, among other basic class projects in C++.
        </p>
        <p> 
            <div>
                Computational Thinking for Engineering Course:
            </div>
            developed basic class projects like a Peg Solitaire game in Python.
         </p>
         <p> 
             <div>
                Informatics Course:
            </div>
            (2018-2019) developed a simulation of traffic lights ar a crosswalk in Arduino.
         </p>
         <H5 class = "fields"> Personal Projects / Extracurricular Activities </H5>
         <p> 
             <div>
                 WITCode Social Service:
            </div> 
            Every Saturday I teach a middle school student about technology. The topics vary between programming, 
            Artificial Intelligence, developing a webpage using WIX, etc.
         </p>
         <p> 
             <div>
                 Golf scorecard project:
            </div>
            I've been working on an a project that resembles a golf scorecard, and it will enable the user to make bets
            with other players while keeping score of their game. I've been taking a Swift 5 course in Coursera since I
            plan on developing it in Swift/SwiftUI.
        </p>
        <p> 
            <div>
                HackMTY 2020:
            </div> 
            Three friend and I participated in ACM's Hackathon. The problem we tried to solve regarded the
            situation many businesses in Mexico and around the world are facing due to the COVID-19 pandemic. What we did
            was a Space Planner app, a challenge by the company Blue Yonder.
        </p>

    </body>


</html>