<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <title>Proceso | Plearnium</title>
        <link rel="shortcut icon" type="image" href="img/master_terny.png">
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="iniciar_sesion">CERRAR SESIÓN</a></li>
                </ul>
            </nav>
            <div class="navbar">
                <a href="https://mx.ternium.com/es" target="_blank"><img src="img/logo.png" class="logo"></a>
                <nav>
                    <ul>
                        <li><a href="inicio">INICIO</a></li>
                        <li><a href="juego">JUEGO</a></li>
                        <li><a href="sobre_ternium">SOBRE TERNIUM</a></li>
                        <li><a href="proceso">PROCESO</a></li>
                        <li><a href="creadores">CREADORES</a></li>
                        <li><a href="feedback">FEEDBACK</a></li>
                        <li><a href="ranking">RANKING</a></li>
                        <li><a href="agregarRespuesta">ENCUESTAS</a></li>

                    </ul>
                </nav>
    
            </div>
            <div class="proceso h1 p">
                <div class="intro_proyecto">
                    <h1>Introducción al Proyecto</h1>
                    <p> Como parte del plan de estudios del Tec21, a los alumnos de cuarto
                        semestre se les asignaron socioformadores que apoyaran en su
                        educación a la vez que ellos ofrecían un reto para resolver que
                        estuvieran enfrentando. En este caso, la empresa Ternium cuenta con
                        diversas necesidades presentes en el área de ventas; estas necesidades
                        se tratan de la capacitación y onboarding de sus nuevos ejecutivos en
                        dicha área de una manera más entretenida y amena. Este reto está basado
                        en la mejora de la aplicación de sus mecánicas y dinámicas para estos 
                        procesos, a través de la gamificación por medio de un videojuego.</p>
                </div>
            </div>
            <div class="descripcion h1">
                <div class="desc_proyecto">
                    <h1>Descripción de los ciclos</h1>
                    <div class="row gap-3">
                        <div class="column p gap-3">
                            <ciclos>Ciclo 0</ciclos>
                            <br><p>Dando comienzo al proyecto, se inició con la ideación 
                                y el diseño del videojuego y la página web. Ya definidas 
                                las ideas, de acuerdo a los requerimientos otorgados, se 
                                realizó un mockup parcada uno de estos y de esta manera 
                                comenzar el setup de nuestro producto. Para este ciclo no 
                                fue necesario hacer  código. </p>
                        </div>
                        <div class="column p">
                            <ciclos>Ciclo 1</ciclos>
                            <br><p>Actualización de los documentos de Especificación de Requerimientos
                                y Especificación del Diseño, conversión de todas las pantallas web a
                                pantallas de front-end utilizando HTML y CSS, conversión del escenario
                                principal del Mockup a una escena principal en Unity y la creación de 
                                la base de datos.
                            </p>
                        </div>
                        <div class="column p">
                            <ciclos>Ciclo 2</ciclos>
                            <br><p>Elaboración de la versión inicial del documento Especificación
                                de las pruebas del proyecto y la continuación con el desarrollo de
                                la aplicación tanto en la parte web, front y back-end, el videojuego
                                y la base de datos.
                            </p>
                        </div>
                        <div class="column p">
                            <ciclos>Ciclo 3</ciclos>
                            <br><p>Conexión del videojuego con la base de datos, conexión de la 
                                página web con la base de datos, conexión del videojuego a la página 
                                web, conclusión del videojuego y la página web.
                            </p>
                        </div>
                    </div>
                </div>
                <img src="img/proceso_web.png" class="foto_ciclo0">
                <img src="img/ciclo1.jpg" class="foto_ciclo1">
                <img src="img/ciclo2.jpg" class="foto_ciclo2">
                <img src="img/ciclo3.jpg" class="foto_ciclo3">
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    </body>
</html>