<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: white;
        }

        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
            font-size: 16px;
            font-style: normal;
        }

        h3 {
            font-size: 18px;
        }

        .aboutMe {
            font-size: 18px;
        }

        h4 {
            font-style: bold;
            font-size: 30px;
        }

        table {
            width: 90%
        }

        td {
            height: 50px;
            vertical-align: top;
            padding: 15px;
            column-gap: 40px;
            border: black;
        }

        .school {
            font-size: 18px;
            font-style: bold;
        }

        .degree {
            font-size: 16px;
            font-style: normal;
        }

        .locaton {
            font-size: 14px;
            font-style: normal;
        }

        .date {
            font-size: 16px;
            font-style: normal;
            text-align: right;
        }

        .info {
            font-size: 14px;
            text-indent: 10px;
        }

        .title {
            font-size: 18px;
            font-style: bold;
        }

        .subtitle {
            font-size: 16px;
            text-indent: 10px;
        }

        .infoSub {
            font-size: 14px;
            text-indent: 20px;
        }

        .commas {
            font-size: 16px;
        }
    </style>
    <title>
        Roberta Saldana Farias
    </title>

</head>

<body>
    <h1> Roberta Saldaña </h1>
    <h2> robertasaldana00@gmail.com &#160 | &#160 (+52) 81 1693 9911</h2>

    <h3>About me</h3>
    <div class="aboutMe">
        I have a passion for technology and problem solving through a compassionate, diverse and creative lens.
    </div>

    <h4> Education </h4>
    <table>
        <tr>
            <td>
                <div class="school">
                    Institute of Technology and Higher Education of Monterrey (TEC)
                </div>
                <br>
                <div class="degree">
                    B.S. in Computer Science and Technology &#160 | &#160 International Diploma
                </div>
            </td>
            <td>
                <div class="location">
                    Monterrey, Mexico
                </div>
            </td>
            <td>
                <div class="date">
                    Aug 2019 - June 2023 <br> grade: 95%
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="school">
                    Valia &#8594 endorsed by the Universidad Francisco de Vitoria de Madrid
                </div>
                <br>
                <div class="degree">
                    Business Ethics Diploma
                </div>
            </td>
            <td>
                <div class="location">
                    Monterrey, Mexico
                </div>
            </td>
            <td>
                <div class="date">
                    Aug 2020 - Dec 2021
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="school">
                    ASFM &#8594 American School Foundation of Monterrey
                </div>
                <br>
                <div class="degree">
                    High School
                </div>
            </td>
            <td>
                <div class="location">
                    Monterrey, Mexico
                </div>
            </td>
            <td>
                <div class="date">
                    Aug 2016 - June 2019 <br> grade: 92%
                </div>
            </td>
        </tr>
    </table>

    <h4> Experience </h4>
    <table>
        <tr>
            <td>
                <div class="title">
                    Instructor at Beautiful Patterns by MIT
                </div>
                <div class="info">
                    » Taught Python to a group of 15 young women interested in studying a STEM related career <br>
                </div>
                <div class="info">
                    » Enhanced my teaching skills <br>
                </div>
                <div class="info">
                    » Generated an understanding of younger generations <br>
                </div>
                <div class="info">
                    » Strengthened my Python Skills <br>
                </div>
            </td>
            <td>
                <div class="date">
                    Jan 2021
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="title">
                    National Honor Society President
                </div>
                <div class="info">
                    » Led the group to be able to install a Water Tank in a low resource school (Primaria Miguel Alemán)
                    in order for them to have access to clean water. <br>
                </div>
                <div class="info">
                    » Worked alongside Destellos de Luz by helping the organization translate texts to braille,
                    illustrate pictures for visually impaired kids, and helping teachers organize their classes. <br>
                </div>
                <div class="info">
                    » Gave back to our school staff by having a school supplies drive at the beginning of the year and
                    two appreciation luncheons. <br>
                </div>
            </td>
            <td>
                <div class="date">
                    Aug 2018 - June 2019
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="title">
                    Under Secretary General Information and Technology Department
                </div>
                <div class="info">
                    » Team lead of the IT Department of the International Monterrey Model United Nations Simulation
                    (IMMUNS) <br>
                </div>
                <div class="info">
                    » IMMUNS is a Model United Nations Simulation that hosts over 500 delegates every year <br>
                </div>
                <div class="info">
                    » Responsible for managing the IMMUNS website <br>
                </div>
                <div class="info">
                    » In charge of designing and printing delegate manuals, folders, placards, badges, banners, etc.
                    <br>
                </div>
                <div class="info">
                    » Responsible for leading the department to complete tasks <br>
                </div>
                <div class="info">
                    » In charge of all video and audio editing for IMMUNS related media <br>
                </div>
            </td>
            <td>
                <div class="date">
                    Aug 2018 - June 2019
                </div>
            </td>
        </tr>
    </table>

    <h4> Relevant Projects </h4>
    <table>
        <tr>
            <td>
                <div class="title">
                    Ternium Video Game
                </div>
                <div class="info">
                    » Currently working with Unity and C# to create a video game that will aid with training of sales
                    employees at the company. <br>
                </div>
                <div class="info">
                    » Video game is being built according to client specifications and will be part of a website that
                    will be created in HTML, CSS, and JavaScript. <br>
                </div>
                <div class="info">
                    » Collaborating with a team of 5 members as well as Ternium employees <br>
                </div>
            </td>
            <td>
                <div class="date">
                    Feb 2021 - May 2021
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="title">
                    Data Structures and Fundamental Algorithms Final Project
                </div>
                <div class="info">
                    » Used C++ to create a program that organizes a database from the earliest date to the most recent
                    date and saves it in an output file. <br>
                </div>
                <div class="info">
                    » Developed program using two different methods; one using fundamental algorithms and the other
                    using linear data structures. <br>
                </div>
                <div class="subtitle">
                    Fundamental Algorithms <br>
                </div>
                <div class="infoSub">
                    » Uses a binary search to find the index of a range and displays data between that specific range.
                    <br>
                </div>
                <div class="infoSub">
                    » Learned to use structures, sort algorithms (exchange, bubble, selection, insertion, merge sort and
                    quick sort), searching algorithms (linear and binary search), and to add a timer to measure the
                    efficiency of the program. <br>
                </div>
                <div class="subtitle">
                    Linear Data Structures
                </div>
                <div class="infoSub">
                    » Uses linear data structures instead of vectors. <br>
                </div>
                <div class="infoSub">
                    » This program uses merge sort and binary search from Doubly Linked List class that is constructed
                    using pointers. <br>
                </div>
                <div class="infoSub">
                    » Learned to create and use Doubly Linked List, Queue and Stack, and enhanced my understanding of
                    pointers. <br>
                </div>
            </td>
            <td>
                <div class="date">
                    Aug 2020 - Dec 2020
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="title">
                    Object-Oriented Programming Final Project
                </div>
                <div class="info">
                    » Used C++ to create a model of a streaming service. The program reads a text file containing data
                    about movies and series and displays the data in a user defined way, such as listing the data by
                    genre or rating. <br>
                </div>
                <div class="info">
                    » Learned to use inheritance and polymorphism, setw() to display information in a user friendly
                    manner, and methods inside classes for printing data. <br>
                </div>
            </td>
            <td>
                <div class="date">
                    Feb 2020 - June 2020
                </div>
            </td>
        </tr>
    </table>

    <br><br><br>
    <table>
        <tr>
            <td>
                <div class="title">
                    Programing Languages:
                </div>
            </td>
            <td>
                <div class="commas">
                    C++, Python, C#, HTML, CSS, JavaScript, R, Matlab
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="title">
                    Other skills: &#160
                </div>
            </td>
            <td>
                <div class="commas">
                    Calculus, Unity, Photoshop, Web Management, Teamwork, Problem Solving
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="title">
                    Languages: &#160
                </div>
            </td>
            <td>
                <div class="commas">
                    English and Spanish
                </div>
            </td>
        </tr>
    </table>